.slider {
  /* position: relative; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.image {
  width: 60vw;

  height: 100%;
  border-radius: 10px;
  position: relative;
  z-index: 174;
  
}
.arrow_button{
  display: flex;
  gap: 1.3rem;
  align-items: center;
  justify-content: center;
}
.right-arrow {
  /* position: absolute; */
  top: 50%;
  right: 1rem;
  font-size: 2rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  /* position: absolute; */
  top: 50%;
  left: 1rem;
  font-size: 2rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media (min-width: 921px) {
  .slider {
    display: none;
  }
}
